main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*-----------시계---------------*/

#clock-section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.clock h2 {
  font-size: 140px;
}

main h1 {
  font-size: 50px;
}

main p {
  font-size: 30px;
  margin-top: 30px;
}

.clock {
  display: flex;
  align-items: center;
}

.clock-setting i {
  margin-left: 20px;
  font-size: 30px;
}
/*----------------------------------*/

/*------------로그인 폼------------*/
#login-form p {
  font-size: 50px;
}

#login-form input {
  width: 200px;
  height: 50px;
  box-sizing: border-box;
}
